* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url("UMC\ 뭔가\ 간지나는\ 배경1\ 2.svg") no-repeat center;
  background-size: cover;
  overflow: hidden;
}

div {
  padding-top: 3px;
  padding-bottom: 8px;
}

.wrapper {
  display: flex;
  background-color: rgba(255, 255, 255, 0.678);
  opacity: 0.9;
  width: 50%;
  height: 80%;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 13px;
}

.title {
  text-align: center;
  width: 60%;
  font-size: 2em;
  border-bottom: 0.08em solid white;
}

.login {
  width: 80vw;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name, .nickname, .email, .password, .passwordCheck {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  border-color: white;
  border-radius: 3px;
}

.name label, .nickname label, .email label, .password label, .passwordCheck label {
  display: flex;
  float: left;
  margin-bottom: 5px;
}

.name input, .nickname input, .email input, .password input, .passwordCheck input {
  height: 30px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px;
}

.error {
  display: flex;
  float: left;
  font-size: 0.8em;
}

.signUpButton button {
  width: 20vw;
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.171);
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
}

#modalWrap {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 20vh;
  background-color: #fff;
  border-radius: 25px;
}

#modalContent {
  width: 90%;
  height: 50%;
}

#modalContent h1 {
  margin-bottom: 15px;
}

#modalContent p {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 1.2em;
}

#modalContent button {
  float: right;
}

#closeButton {
  width: 4vw;
  height: 3vh;
  float: right;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
  cursor: pointer;
}